<div>

  <h2 class=".mat-h2">Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="signInEmailPass()" >

    <label for="email">Email</label>
    <input type="email" name="email" formControlName="email" autocomplete="email" required>

    <label for="password">Password</label>
    <input type="password" name="password" formControlName="password" autocomplete="current-password" required>

    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit</button>

  </form>

</div>
