<mat-toolbar color="primary" class="main-toolbar">
  <mat-toolbar-row>
    <span class="main-toolbar-row" fxShow="true" fxHide.lt-md="true">
      <img class="nsu-logo" src="../assets/wordmarksmall2.png">
      <span> <h3>Demons Coding Lab</h3> </span>
    </span>
    <span class="mobile-main-toolbar-row-1" fxShow="true" fxHide.gt-sm="true">
      <img class="nsu-logo-mobile" src="../assets/Northwestern_State_University_seal.svg.png">

      <span class="fill-space"> </span>
      <span>
        <h4>Demons Coding Lab</h4>
      </span>
    </span>
    <span class="fill-space"> </span>
    <span fxFlex fxShow="true" fxHide.lt-md="true">
      <div *ngIf="fAuth.user | async; then authenticated; else guest">
        <!-- replaced by template -->
      </div>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row class="mobile-menu" fxShow="true" fxHide.gt-sm="true">
    <div *ngIf="fAuth.user | async; then authenticated; else guest">
      <!-- replaced by template -->
    </div>
  </mat-toolbar-row>

</mat-toolbar>


<ng-template #authenticated>
  <nav class="nav-list">
    <a routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/sessions">Meetings</a>
    <a routerLink="/profile">My Profile</a>
    <a (click)="fAuth.logout()">Sign Out</a>
  </nav>
</ng-template>

<ng-template #guest>
  <nav class="nav-list">
    <a routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/signup">Sign up</a>
    <a routerLink="/sessions">Meetings</a>
  </nav>
</ng-template>

<router-outlet></router-outlet>