form {
    margin: 20px;
}

label {
    padding: 10px;
}

h2 {
    padding: 10px;
    margin: 20px;
    text-align: left;
}

.who-reg {
    font-size: 18px;
}

a {
    padding: 2px;
    margin: 2px;
}

.mat-raised-button {
    margin: 5px;
}