<div *ngIf="(auth.user | async); then authenticated; else guest"> </div>

<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <div *ngIf="user.role['helper']; then helper; else learner"></div>

    <ng-template #helper>
      <h2>Hello, {{ user.name }}</h2>
    </ng-template>

    <ng-template #learner>
      <h2>Hello, {{ user.parent }}</h2>

      <h3>Account Information</h3>
      <p>My Child's Name: {{ user.child }} </p>
      <p>My Email Address: {{ user.email }} </p>
      <p>My Phone: {{ user.phone }} </p>

    </ng-template>
</div>

<h3>My Enrolled Meetings</h3>

<h3>My Attended Meetings</h3>



</ng-template>

<ng-template #guest>
  <h3>You must be logged in to view this page</h3>
</ng-template>
