<div *ngIf="(auth.user ); then authenticated; else guest"> </div>

<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <div *ngIf="auth.isHelper(user); then helper; else learner"></div>

    <ng-template #helper>
      <h2>Hello, {{ user.name }}</h2>

      <h3>Account Information</h3>
      <p>Student ID: {{ user.studentID }}</p>
      <p>Phone: {{ user.phone }}</p>
      <p>Email: {{ user.email }}</p>
    </ng-template>

    <ng-template #learner>
      <h2>Hello, {{ user.parent }}</h2>

      <h3>Account Information</h3>
      <p>My Child's Name: {{ user.child }} </p>
      <p>My Email Address: {{ user.email }} </p>
      <p>My Phone: {{ user.phone }} </p>

    </ng-template>

    <h3>My Enrolled Meetings</h3>
    <table>
      <thead>
        <th>Lesson Name</th>
        <th>Meet Time</th>
      </thead>
      <tbody>
        <tr *ngFor="let meeting of myMeetings">

          <td>{{ meeting.lessonname }}</td>
          <td>{{ meeting.meettime | date: 'short' }}</td>
          <td><button (click)="unenroll(meeting)" >Unenroll</button>
        </tr>
      </tbody>
    </table>



    <h3>My Attended Meetings</h3>

</div>

</ng-template>

<ng-template #guest>
  <h3>You must be logged in to view this page</h3>
</ng-template>
