<div class="jumbotron jumbotron-fluid bg-primary">
    <div class="container">
      <h1 class="display-4 text-white">Demons Coding Club</h1>
      <p class="lead text-white">Demons Coding Lab is a a project initiated by NSU to engage with Louisana youth about coding and computer science.</p>

      <button mat-raised-button color="primary">Sign up!</button>
    </div>
  </div>

<h2>Welcome to Demons Coding Lab</h2>
<h3>Demons Coding Lab is a a project initiated by Northwestern State University to engage with youth about coding and computer science.</h3>
