<div *ngIf="auth.user | async as user ">

  {{ user.uid }} <- userid



<table>
  <thead>
    <th>Lesson Name</th>
    <th>Meet Time</th>
  </thead>
  <tbody>
    <tr *ngFor="let session of sessions">

      <td>{{ session.lessonname }}</td>
      <td>{{ session.meettime | date: 'short' }}</td>
      <td>
        <button routerLink="/form/{{session.id}}" >Update</button>
      <td>
          <button (click)="delete(session.id)">Delete</button>
      </td>
      <td >
        <button routerLink="/form/{{session.id}}">view</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
