<div *ngIf="auth.user | async as user ">

  {{ id }} <- userid
</div>


<table>
  <thead>
    <th>Lesson Name</th>
    <th>Meet Time</th>
    <th>Students</th>
    <th>Helpers</th>
  </thead>
  <tbody>
    <tr *ngFor="let session of sessions">

      <td>{{ session.lessonname }}</td>
      <td>{{ session.meettime | date: 'short' }}</td>
      <td>{{ session.numberStudents }} / {{ MAX_STUDENTS }}</td>
      <td>{{ session.numberHelpers }} / {{ MAX_HELPERS }}</td>
      <td>
        <button routerLink="/form/{{session.id}}" >Update</button>
      <td>
          <button (click)="delete(session.id)">Delete</button>
      </td>
      <td >
        <button routerLink="/form/{{session.id}}">view</button>
      </td>
      <td>
        <button (click)="enrollUser(session)">Register</button>
      </td>
    </tr>
  </tbody>
</table>
